@model Used_Book_Selling_System.Models.BookwithOwner
@{ 
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Portfolio Details - The Book Exchange Bootstrap Template</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/assets/img/favicon.png" rel="icon">
    <link href="~/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Muli:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="~/assets/vendor/owl.carousel/~/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/assets/vendor/aos/aos.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: The Book Exchange - v2.2.0
    * Template URL: https://bootstrapmade.com/The Book Exchange-multipurpose-bootstrap-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
    <style>
        #t1 {
            margin-top: -375px;
            margin-left: 400px;
        }
        #t2 {
          margin-top:-350px;
          
        }
      img
      {
          margin-left:800px;
          height:400px;
          width:300px;
         
      }
       
    </style>
</head>

<body>

    <!-- ======= Top Bar ======= -->
    <section id="topbar" class="d-none d-lg-block">
        <div class="container d-flex">
            <div class="contact-info mr-auto">

            </div>
            <div class="social-links">
                <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
                <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
                <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
                <a href="#" class="skype"><i class="icofont-skype"></i></a>
                <a href="#" class="linkedin"><i class="icofont-linkedin"></i></i></a>
            </div>
        </div>
    </section>

    <!-- ======= Header ======= -->
    <header id="header">
        <div class="container d-flex">

            <div class="logo mr-auto">
                <h1 class="text-primary"><a href="index.html">The Book Exchange</a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
            </div>

            <nav class="nav-menu d-none d-lg-block ">
                <ul>
                    <li class="active"><a href="@Url.Action("home","Home")">Home</a></li>
                    <li><a href="@Url.Action("about","Home")">About</a></li>

                    <li><a href="@Url.Action("portfolio","Home")">Books</a></li>


                    @if (Session["last_name"] != null)
                    {
                        <li><a href="@Url.Action("profile","Home")">Profile</a></li>
                        <li><a href="@Url.Action("logout","Home")">Logout</a></li>


                    }
                    else
                    {
                        <li><a href="@Url.Action("login","Home")">LogIn</a></li>
                        <li><a href="@Url.Action("register","Home")">Registration</a></li>
                    }


                    <li><a href="@Url.Action("contact","Home")">Contact</a></li>

                </ul>
            </nav><!-- .nav-menu -->

        </div>
    </header><!-- End Header -->

    <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <h2>Portfolio Details</h2>
                    <ol>
                        <li><a href="@Url.Action("home","Home")">Home</a></li>
                        <li>Portfolio Details</li>
                    </ol>
                </div>

            </div>
        </section><!-- End Breadcrumbs -->
        <!-- ======= Portfolio Details Section ======= -->
        <section id="portfolio-details" class="portfolio-details">
            <div class="container">
                <h2 class="portfolio-title">Book(@Model.title) Detail</h2>
                <div class="row">

                    @{
                        var base64 = Convert.ToBase64String(Model.image);
                        var imgsrc = String.Format("data:image/jpg;base64,{0}", base64);
                    }



                    <div class="col-lg-4 portfolio-info" data-aos="fade-left">


                        <div>
                            <img src="@imgsrc" id="bimage" id="bimage" />
                            <table class="table" id="t1">
                                <tr class="d-lg-table-row">
                                    <th>Book Edition:</th>
                                    <td> @Model.edittion</td>

                                </tr>

                                <tr>
                                    <th>Book Author:</th>
                                    <td> @Model.author</td>

                                </tr>
                                <tr>
                                    <th>Book Publisher:</th>
                                    <td> @Model.publisher</td>

                                </tr>

                                <tr class="d-lg-table-row">
                                    <th>Book Language:</th>
                                    <td> @Model.language</td>

                                </tr>

                                <tr>
                                    <th>Book Type:</th>
                                    <td> @Model.btype</td>

                                </tr>

                                <tr>
                                    <th>Seller Name:</th>
                                    <td> @Model.seller_first_name  @Model.seller_last_name</td>

                                </tr>
                                <tr>
                                    <th>Seller City:</th>
                                    <td> @Model.seller_city</td>

                                </tr>
                            </table>
                            <table class="table" id="t2">
                                <tr>
                                    <th>Book Price:</th>
                                    <td> @Model.price</td>

                                </tr>
                                <tr class="d-lg-table-row">
                                    <th>Book Used (month):</th>
                                    <td> @Model.old</td>

                                </tr>

                                <tr>
                                    <th>Book Condtion:</th>
                                    <td> @Model.condition</td>

                                </tr>
                                <tr>
                                    <th>Discount:</th>
                                    <td> @Model.discount</td>

                                </tr>

                                <tr>
                                    <th>Posted Date:</th>
                                    <td> @Model.posted_date</td>

                                </tr>
                                <tr>
                                    @if (Session["last_name"] != null)
                                    {
                                        <th>Seller Contact No</th>
                                        <td> @Model.seller_contact_no</td>
                                    }
                                    else
                                    {
                                        <th>Seller Contact No</th>
                                        <td><a href="@Url.Action("login","Home")">Login First</a></td>
                                    }


                                </tr>


                            </table>



                        </div>

                    </div>

                </div>

            </div>
        </section><!-- End Portfolio Details Section -->

    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer">

        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h3>The Book Exchange</h3>
                        <p>
                            A108 Adam Street <br>
                            New York, NY 535022<br>
                            United States <br><br>
                            <strong>Phone:</strong> +917874214109<br>
                            <strong>Email:</strong> rajputdevil100@gmail.com<br>
                        </p>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links offset-1 ">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="@Url.Action("home","Home")">Home</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="@Url.Action("about","Home")">About us</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="@Model.seller_last_name">Book</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="@Model.seller_city;


#line default
#line hidden

#line 27 "C:\Users\dipak\Desktop\Used_Book_Selling_System\Used_Book_Selling_System\Views\Home\portfolio_details.cshtml"
                            __o = Model.price;


#line default
#line hidden

#line 28 "C:\Users\dipak\Desktop\Used_Book_Selling_System\Used_Book_Selling_System\Views\Home\portfolio_details.cshtml"
                            __o = Model.old;


#line default
#line hidden

#line 29 "C:\Users\dipak\Desktop\Used_Book_Selling_System\Used_Book_Selling_System\Views\Home\portfolio_details.cshtml"
                            __o = Model.condition;


#line default
#line hidden

#line 30 "C:\Users\dipak\Desktop\Used_Book_Selling_System\Used_Book_Selling_System\Views\Home\portfolio_details.cshtml"
                            __o = Model.discount;


#line default
#line hidden

#line 31 "C:\Users\dipak\Desktop\Used_Book_Selling_System\Used_Book_Selling_System\Views\Home\portfolio_details.cshtml"
                            __o = Model.posted_date;


#line default
#line hidden

#line 32 "C:\Users\dipak\Desktop\Used_Book_Selling_System\Used_Book_Selling_System\Views\Home\portfolio_details.cshtml"
                            if(Session["last_name"]!=null)
                            {

                            }

#line default
#line hidden

#line 33 "C:\Users\dipak\Desktop\Used_Book_Selling_System\Used_Book_Selling_System\Views\Home\portfolio_details.cshtml"
                            __o = Model.seller_contact_no;


#line default
#line hidden

#line 34 "C:\Users\dipak\Desktop\Used_Book_Selling_System\Used_Book_Selling_System\Views\Home\portfolio_details.cshtml"
                            __o = Url.Action("home","Home");


#line default
#line hidden

#line 35 "C:\Users\dipak\Desktop\Used_Book_Selling_System\Used_Book_Selling_System\Views\Home\portfolio_details.cshtml"
                            __o = Url.Action("about","Home");


#line default
#line hidden

#line 36 "C:\Users\dipak\Desktop\Used_Book_Selling_System\Used_Book_Selling_System\Views\Home\portfolio_details.cshtml"
                            __o = Url.Action("portfolio","Home");


#line default
#line hidden

#line 37 "C:\Users\dipak\Desktop\Used_Book_Selling_System\Used_Book_Selling_System\Views\Home\portfolio_details.cshtml"
                            __o = Url.Action("contact","Home")">FeedBack</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-6 col-md-6 footer-links ">
                        <h4>Book Store </h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="https://www.goodreads.com/">Good Reads</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="https://www.librarything.com/">Library Things</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="https://bookish.netgalley.com/">Bookish</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="https://www.bookbub.com/welcome">BookBub</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="https://www.whichbook.net/">Which Book</a></li>
                        </ul>
                    </div>



                </div>
            </div>
        </div>

        <div class="container d-md-flex py-4">

            <div class="mr-md-auto text-center text-md-left">
                <div class="copyright">
                    &copy; Copyright <strong><span>The Book Exchange</span></strong>. All Rights Reserved
                </div>

            </div>
            <div class="social-links text-center text-md-right pt-3 pt-md-0">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
        </div>
    </footer><!-- End Footer -->
    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/assets/vendor/jquery/jquery.min.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="~/assets/vendor/php-email-form/validate.js"></script>
    <script src="~/assets/vendor/jquery-sticky/jquery.sticky.js"></script>
    <script src="~/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/assets/vendor/venobox/venobox.min.js"></script>
    <script src="~/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="~/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="~/assets/vendor/aos/aos.js"></script>

    <!-- Template Main JS File -->
    <script src="~/assets/js/main.js"></script>

</body>

</html>