@model IList<Used_Book_Selling_System.Models.ImageMaster>
@{ 
    Layout = null;
}
<html>
<head>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width" />

    <style>

                body {
                    margin-top: 20px;
                    color: #1a202c;
                    text-align: left;
                    background-color: #e2e8f0;
                }

                .main-body {
                    padding: 15px;
                }

                .card {
                    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
                }

                .card {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    min-width: 0;
                    word-wrap: break-word;
                    background-color: #fff;
                    background-clip: border-box;
                    border: 0 solid rgba(0,0,0,.125);
                    border-radius: .25rem;
                }

                .card-body {
                    flex: 1 1 auto;
                    min-height: 1px;
                    padding: 1rem;
                }

                .gutters-sm {
                    margin-right: -8px;
                    margin-left: -8px;
                }

                    .gutters-sm > .col, .gutters-sm > [class*=col-] {
                        padding-right: 8px;
                        padding-left: 8px;
                    }

                .mb-3, .my-3 {
                    margin-bottom: 1rem !important;
                }

                .bg-gray-300 {
                    background-color: #e2e8f0;
                }

                .h-100 {
                    height: 100% !important;
                }

                .shadow-none {
                    box-shadow: none !important;
                }







                /*****************
            - Header -
        *****************/
                header {
                    position: relative;
                    left: 0;
                    top: 0;
                    width: 100%;
                    min-height: 120px;
                    padding: 50px 0;
                    color: #fff;
                    background: #383838 url(https://www.athenadesignstudio.com/plugins/switch/images/bg.jpg) no-repeat center center;
                    margin-bottom: 30px
                }

                    /* Logo */
                    header .logo {
                        clear: both;
                        display: block;
                        text-align: center;
                        padding-bottom: 10px;
                    }

                    /* Title */
                    header h1 {
                        font-weight: 300;
                        font-size: 24px;
                        color: #eee;
                        letter-spacing: 2px;
                        text-align: center;
                        text-transform: uppercase;
                        margin: 0 !important;
                        padding-bottom: 25px;
                    }

                h1,
                h2,
                h3,
                h4,
                h5,
                h6,
                div,
                input,
                p,
                a {
                    font-family: "Open Sans";
                    margin: 0px;
                }

                    a,
                    a:hover,
                    a:focus {
                        color: inherit;
                    }

                body {
                    background-color: #F1F2F3;
                }

                .container-fluid,
                .container {
                    max-width: 1200px;
                }

                .card-container {
                    padding: 100px 0px;
                    -webkit-perspective: 1000;
                    perspective: 1000;
                }

                .profile-card-1 {
                    background-color: #FFF;
                    border-radius: 10px;
                    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
                    background-image: url(../img/profile-bg-1.jpg);
                    background-position: center;
                    padding-top: 100px;
                    overflow: hidden;
                    position: relative;
                    margin: 10px auto;
                    cursor: pointer;
                    max-width: 300px;
                }

                    .profile-card-1 .profile-content {
                        position: relative;
                        background-color: #FFF;
                        padding: 70px 20px 20px 20px;
                        text-align: center;
                    }

                    .profile-card-1 .profile-img {
                        position: absolute;
                        height: 100px;
                        left: 0px;
                        right: 0px;
                        z-index: 10;
                        top: -50px;
                        transition: all 0.25s linear;
                        transform-style: preserve-3d;
                    }

                        .profile-card-1 .profile-img img {
                            height: 100px;
                            margin: auto;
                            border-radius: 50%;
                            border: 5px solid #FFF;
                            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
                        }

                    .profile-card-1 .profile-name {
                        font-size: 18px;
                        font-weight: bold;
                        color: #021830;
                    }

                    .profile-card-1 .profile-address {
                        color: #777;
                        font-size: 12px;
                        margin: 0px 0px 15px 0px;
                    }

                    .profile-card-1 .profile-description {
                        font-size: 13px;
                        padding: 5px 10px;
                        color: #777;
                    }

                    .profile-card-1 .profile-icons .fa {
                        margin: 5px;
                        color: #777;
                    }

                    .profile-card-1:hover {
                        box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
                    }

                        .profile-card-1:hover .profile-img {
                            transform: rotateY(180deg);
                        }

                .profile-card-2 {
                    max-width: 300px;
                    background-color: #FFF;
                    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
                    background-position: center;
                    overflow: hidden;
                    position: relative;
                    margin: 10px auto;
                    cursor: pointer;
                    border-radius: 10px;
                }

                    .profile-card-2 img {
                        transition: all linear 0.25s;
                    }

                    .profile-card-2 .profile-name {
                        position: absolute;
                        left: 30px;
                        bottom: 70px;
                        font-size: 30px;
                        color: #FFF;
                        text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
                        font-weight: bold;
                        transition: all linear 0.25s;
                    }

                    .profile-card-2 .profile-icons {
                        position: absolute;
                        bottom: 30px;
                        right: 30px;
                        color: #FFF;
                        transition: all linear 0.25s;
                    }

                    .profile-card-2 .profile-username {
                        position: absolute;
                        bottom: 50px;
                        left: 30px;
                        color: #FFF;
                        font-size: 13px;
                        transition: all linear 0.25s;
                    }

                    .profile-card-2 .profile-icons .fa {
                        margin: 5px;
                    }

                    .profile-card-2:hover img {
                        filter: grayscale(100%);
                    }

                    .profile-card-2:hover .profile-name {
                        bottom: 80px;
                    }

                    .profile-card-2:hover .profile-username {
                        bottom: 60px;
                    }

                    .profile-card-2:hover .profile-icons {
                        right: 40px;
                    }

                .profile-card-3 {
                    background-color: #FFF;
                    border-radius: 5px;
                    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
                    overflow: hidden;
                    position: relative;
                    margin: 10px auto;
                    cursor: pointer;
                    padding: 25px 15px;
                }

                    .profile-card-3 .profile-name {
                        font-weight: bold;
                        color: #21304e;
                    }

                    .profile-card-3 .profile-location {
                        color: #999;
                        font-size: 13px;
                        font-weight: 600;
                    }

                    .profile-card-3 img {
                        height: 100px;
                        width: 100px;
                        object-fit: cover;
                        margin: 10px auto;
                        border-radius: 50%;
                        transition: all linear 0.25s;
                    }

                    .profile-card-3 .profile-description {
                        font-size: 13px;
                        color: #777;
                        padding: 10px;
                    }

                    .profile-card-3 .profile-icons {
                        margin: 15px 0px;
                    }

                        .profile-card-3 .profile-icons .fa {
                            color: #fe455a;
                            margin: 0px 5px;
                        }

                    .profile-card-3:hover img {
                        height: 110px;
                        width: 110px;
                        margin: 5px auto;
                    }

                .profile-card-4 {
                    max-width: 300px;
                    background-color: #FFF;
                    border-radius: 5px;
                    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
                    overflow: hidden;
                    position: relative;
                    margin: 10px auto;
                    cursor: pointer;
                }

                    .profile-card-4 img {
                        transition: all 0.25s linear;
                    }

                    .profile-card-4 .profile-content {
                        position: relative;
                        padding: 15px;
                        background-color: #FFF;
                    }

                    .profile-card-4 .profile-name {
                        font-weight: bold;
                        position: absolute;
                        left: 0px;
                        right: 0px;
                        top: -70px;
                        color: #FFF;
                        font-size: 17px;
                    }

                        .profile-card-4 .profile-name p {
                            font-weight: 600;
                            font-size: 13px;
                            letter-spacing: 1.5px;
                        }

                    .profile-card-4 .profile-description {
                        color: #777;
                        font-size: 12px;
                        padding: 10px;
                    }

                    .profile-card-4 .profile-overview {
                        padding: 15px 0px;
                    }

                        .profile-card-4 .profile-overview p {
                            font-size: 10px;
                            font-weight: 600;
                            color: #777;
                        }

                        .profile-card-4 .profile-overview h4 {
                            color: #273751;
                            font-weight: bold;
                        }

                    .profile-card-4 .profile-content::before {
                        content: "";
                        position: absolute;
                        height: 20px;
                        top: -10px;
                        left: 0px;
                        right: 0px;
                        background-color: #FFF;
                        z-index: 0;
                        transform: skewY(3deg);
                    }

                    .profile-card-4:hover img {
                        transform: rotate(5deg) scale(1.1, 1.1);
                        filter: brightness(110%);
                    }

                .profile-card-5 {
                    max-width: 300px;
                    background-color: #FFF;
                    border-radius: 5px;
                    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
                    overflow: hidden;
                    position: relative;
                    margin: 10px auto;
                    cursor: pointer;
                    padding: 50px 15px 25px 15px;
                }

                    .profile-card-5 img {
                        height: 100px;
                        width: 100px;
                        object-fit: cover;
                        margin: 10px auto;
                        border-radius: 50%;
                        transition: all linear 0.25s;
                        position: relative;
                    }

                    .profile-card-5::before {
                        content: "";
                        position: absolute;
                        top: -60px;
                        right: 0px;
                        left: 0px;
                        height: 170px;
                        background-color: #4fb96e;
                        transform: skewY(-20deg);
                    }

                    .profile-card-5 .profile-name {
                        padding-top: 15px;
                        font-weight: bold;
                        color: #333;
                    }

                    .profile-card-5 .profile-designation {
                        font-size: 13px;
                        color: #777;
                    }

                .profile-card-3 .profile-location {
                    color: #999;
                    font-size: 13px;
                    font-weight: 600;
                }

                .profile-card-5 .profile-description {
                    font-size: 13px;
                    color: #777;
                    padding: 10px;
                }

                .profile-card-5 .profile-overview {
                    padding: 15px 0px;
                }

                    .profile-card-5 .profile-overview p {
                        color: #777;
                        font-size: 13px;
                    }

                    .profile-card-5 .profile-overview h2 {
                        font-weight: bold;
                        color: #1e2832;
                    }

                .profile-card-5 .profile-icons .fa {
                    margin: 7px;
                    color: #4fb96e;
                }

                .profile-card-5:hover img {
                    transform: rotate(-5deg);
                }

                .profile-card-6 {
                    max-width: 300px;
                    background-color: #FFF;
                    border-radius: 5px;
                    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
                    overflow: hidden;
                    position: relative;
                    margin: 10px auto;
                    cursor: pointer;
                }

                    .profile-card-6 img {
                        transition: all 0.15s linear;
                    }

                    .profile-card-6 .profile-name {
                        position: absolute;
                        top: 10px;
                        left: 10px;
                        font-size: 25px;
                        font-weight: bold;
                        color: #FFF;
                        padding: 15px 20px;
                        background: linear-gradient(140deg, rgba(0, 0, 0, 0.4) 50%, rgba(255, 255, 0, 0) 50%);
                        transition: all 0.15s linear;
                    }

                    .profile-card-6 .profile-position {
                        position: absolute;
                        color: rgba(255, 255, 255, 0.4);
                        left: 30px;
                        top: 100px;
                        transition: all 0.15s linear;
                    }

                    .profile-card-6 .profile-overview {
                        position: absolute;
                        bottom: 0px;
                        left: 0px;
                        right: 0px;
                        background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 50%, rgba(255, 255, 0, 0));
                        color: #FFF;
                        padding: 50px 0px 20px 0px;
                        transition: all 0.15s linear;
                    }

                        .profile-card-6 .profile-overview h3 {
                            font-weight: bold;
                        }

                        .profile-card-6 .profile-overview p {
                            color: rgba(255, 255, 255, 0.7);
                        }

                    .profile-card-6:hover img {
                        filter: brightness(80%);
                    }

                    .profile-card-6:hover .profile-name {
                        padding-left: 25px;
                        padding-top: 20px;
                    }

                    .profile-card-6:hover .profile-position {
                        left: 40px;
                    }

                    .profile-card-6:hover .profile-overview {
                        padding-bottom: 25px;
                    }

                .profile-card-7 {
                    background-color: #FFF;
                    border-radius: 5px;
                    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
                    overflow: hidden;
                    position: relative;
                    margin: 10px auto;
                    cursor: pointer;
                }

                    .profile-card-7 .profile-content {
                        padding: 60px 30px 30px 30px;
                        background-color: #FFF;
                        position: relative;
                    }

                        .profile-card-7 .profile-content img {
                            position: absolute;
                            height: 80px;
                            width: 80px;
                            border-radius: 50%;
                            top: -40px;
                            border: 5px solid #FFF;
                        }

                        .profile-card-7 .profile-content .profile-name {
                            position: absolute;
                            font-size: 17px;
                            font-weight: bold;
                            top: -35px;
                            left: 125px;
                            color: #FFF;
                        }

                    .profile-card-7 .profile-overview {
                        padding: 5px 0px;
                    }

                        .profile-card-7 .profile-overview p {
                            color: #777;
                            font-size: 11px;
                            font-weight: 600;
                        }

                        .profile-card-7 .profile-overview h5 {
                            color: #142437;
                            font-weight: bold;
                        }

                .profile-card-8 {
                    background: linear-gradient(#09121c, #36445a);
                    border-radius: 5px;
                    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
                    overflow: hidden;
                    position: relative;
                    margin: 10px auto;
                    cursor: pointer;
                    transition: all 0.25s linear;
                }

                    .profile-card-8 .profile-name {
                        position: absolute;
                        left: 0px;
                        right: 0px;
                        top: 25px;
                        color: #58d683;
                        font-size: 17px;
                        font-weight: bold;
                    }

                    .profile-card-8 .profile-designation {
                        position: absolute;
                        left: 0px;
                        right: 0px;
                        top: 50px;
                        color: #FFF;
                        font-size: 13px;
                        font-weight: 600;
                        letter-spacing: 1px;
                    }

                    .profile-card-8 .profile-icons {
                        position: absolute;
                        left: 0px;
                        right: 0px;
                        top: 80px;
                        color: rgba(255, 255, 255, 0.7);
                    }

                        .profile-card-8 .profile-icons .fa {
                            margin: 5px;
                        }

                    .profile-card-8:hover {
                        transform: scale(1.05, 1.05);
                    }

                .profile-card-9 {
                    border-radius: 10px;
                    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
                    overflow: hidden;
                    position: relative;
                    margin: 10px auto;
                    cursor: pointer;
                    padding: 30px 15px;
                    background-color: #FFF;
                    transition: all 0.25s linear;
                }

                    .profile-card-9 img {
                        height: 120px;
                        width: 120px;
                        border-radius: 50%;
                        margin: 10px auto;
                    }

                    .profile-card-9 .profile-name {
                        font-size: 15px;
                        color: #3249b9;
                        font-weight: 600;
                    }

                    .profile-card-9 .profile-designation {
                        font-size: 13px;
                        color: #777;
                    }

                    .profile-card-9 .profile-description {
                        padding: 10px;
                        font-size: 13px;
                        color: #777;
                        margin: 15px 0px;
                        background-color: #F1F2F3;
                        border-radius: 5px;
                    }

                    .profile-card-9 a {
                        padding: 10px 15px;
                        background-color: #3249b9;
                        color: #FFF;
                        font-size: 11px;
                        border-radius: 25px;
                    }

                    .profile-card-9:hover {
                        transform: scale(1.05, 1.05);
                    }

                .profile-card-10 {
                    border-radius: 5px;
                    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
                    overflow: hidden;
                    position: relative;
                    margin: 10px auto;
                    cursor: pointer;
                    padding: 30px 15px;
                    background-color: #1f2124;
                    color: #EEE;
                }

                    .profile-card-10 img {
                        margin: 10px auto;
                        width: 100px;
                        height: 100px;
                        border-radius: 50%;
                        border: 10px solid transparent;
                        box-shadow: 0px 0px 0px 2px #64c17b;
                        transition: all 0.25s linear;
                    }

                    .profile-card-10 .profile-name {
                        color: #FFF;
                        font-weight: bold;
                        font-size: 17px;
                    }

                    .profile-card-10 .profile-location {
                        font-size: 13px;
                        opacity: 0.7;
                    }

                    .profile-card-10 .profile-description {
                        padding: 10px;
                        font-size: 13px;
                    }

                    .profile-card-10 .profile-icons .fa {
                        color: #ffc75e;
                        margin: 10px;
                    }

                    .profile-card-10:hover img {
                        transform: scale(1.1);
                    }
                   
                    #t1{
                        margin-left:260px;
                        margin-top:-480px;
                    }
        

        #t2 {
            margin-left: 500px;
            margin-top: -360px;
        }
                  
    </style>

    <!-- Favicons -->
    <link href="~/assets/img/favicon.png" rel="icon">
    <link href="~/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Muli:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="~/assets/vendor/owl.carousel/~/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/assets/vendor/aos/aos.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/assets/css/style.css" rel="stylesheet">
</head>

<body>

    <!-- ======= Top Bar ======= -->
    <section id="topbar" class="d-none d-lg-block">
        <div class="container d-flex">
            <div class="contact-info mr-auto">
                <i class="icofont-envelope"></i>@Session["last_name"].ToString()
                <i class="icofont-phone"></i> @Session["city"]
            </div>
            <div class="social-links">
                <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
                <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
                <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
                <a href="#" class="skype"><i class="icofont-skype"></i></a>
                <a href="#" class="linkedin"><i class="icofont-linkedin"></i></i></a>
            </div>
        </div>
    </section>


    <!-- ======= Header ======= -->
    <header id="header">
        <div class="container d-flex">

            <div class="logo mr-auto">
                <h1 class="text-primary"><a href="index.html">The Book Exchange</a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
            </div>

            <nav class="nav-menu d-none d-lg-block ">
                <ul>
                    <li class="active"><a href="@Url.Action("home","Home")">Home</a></li>
                    <li><a href="@Url.Action("about","Home")">About</a></li>

                    <li><a href="@Url.Action("portfolio","Home")">Books</a></li>


                    @if (Session["last_name"] != null)
                    {
                        <li><a href="@Url.Action("profile","Home")">Profile</a></li>
                        <li><a href="@Url.Action("logout","Home")">Logout</a></li>


                    }
                    else
                    {
                        <li><a href="@Url.Action("login","Home")">LogIn</a></li>
                        <li><a href="@Url.Action("register","Home")">Registration</a></li>
                    }


                    <li><a href="@Url.Action("contact","Home")">Contact</a></li>

                </ul>
            </nav><!-- .nav-menu -->

        </div>
    </header><!-- End Header -->
    @if (Session["sameseller"] != null)
    {
        if (Session["sameseller"].ToString() == "yes")
        {
            Session["sameseller"] = null;
            <script type="text/javascript">

                alert("You can not lock your own book");


            </script>
        }
    }

    <div class="container">
        <div class="main-body">


            <!-- Breadcrumb -->
            <nav aria-label="breadcrumb" class="main-breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("home","Home")">Home</a></li>


                    <li class="breadcrumb-item active" aria-current="page">User Profile</li>
                </ol>
            </nav>
            <!-- /Breadcrumb -->

            <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="@ViewBag.user_type" class="rounded-circle" width="150">
                                <div class="mt-3">
                                    <h4>@ViewBag.last_name @ViewBag.firs_name</h4>
                                    <p class="text-secondary mb-1">Book @ViewBag.user_type</p>
                                    <p class="text-muted font-size-sm">@ViewBag.city, @ViewBag.state,@ViewBag.country</p>
                                    <button class="btn btn-light"><a href="@Url.Action("editprofile","Home")">Update Profile</a></button>

                                </div>
                            </div>
                        </div>
                    </div>
                  
                        <div class="card mt-3">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                    @if (ViewBag.user_type == "seller")
                                    {
                                        <button class="btn btn-light"><a href="@Url.Action("addbook", "Home")">Add Book</a></button>
                                        <button class="btn btn-light"><a href="@Url.Action("showorder", "Home")">Order Received</a></button>
                                    }
                                    <button class="btn btn-light"><a href="@Url.Action("showlockedbook","Home")">Your Locked Book</a></button>
                                </li>

                            </ul>
                        </div>
                    
                </div>
                <div class="col-md-8">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Full Name</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    @ViewBag.first_name   @ViewBag.last_name
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Email</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    @ViewBag.email
                                </div>
                            </div>
                            <hr>

                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Mobile</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    @ViewBag.contact_no
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Address</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    @ViewBag.city, @ViewBag.state, @ViewBag.country
                                </div>
                            </div>
                        </div>
                    </div>


                    @if (ViewBag.user_type == "seller")
                    {
                        if (Model != null)
                        {
                            foreach (var book in Model)
                            {
                                var base64 = Convert.ToBase64String(book.image);
                                var imgsrc = String.Format("data:image/jpg;base64,{0}", base64);


                                <div class="container">
                                    <div class="row">

                                        <div class="row-cols-1 my-5">
                                            <h4 class="text-center"><strong>@book.btype</strong></h4>
                                            <hr>

                                            <div class="profile-card">
                                                <img src='@imgsrc' height="300px" width="250px">
                                                <div class="profile-name">
                                                    @book.title
                                                </div>

                                            </div>


                                        </div>
                                        <form action="@Url.Action("bookmodification","Home")" method="post">
                                            <input type="hidden" name="title" value="@book.title" />
                                            <input type="hidden" name="edition" value="@book.edittion" />
                                            <input type="hidden" name="author" value="@book.author" />
                                            <input type="hidden" name="publisher" value="@book.publisher" />
                                            <input type="hidden" name="language" value="@book.language" />
                                            <input type="hidden" name="btype" value="@book.btype" />
                                            <input type="hidden" name="price" value="@book.price" />
                                            <input type="hidden" name="discount" value="@book.discount" />
                                            <input type="hidden" name="old" value="@book.old" />
                                            <input type="hidden" name="condition" value="@book.condition" />
                                            <input type="hidden" name="posted_date" value="@book.posted_date" />
                                            <input type="hidden" name="copies" value="@book.copies" />
                                            <div class="row-cols-6 ">
                                                <label class="my-5"></label>
                                                <table class="table" id="t1">
                                                    <tr class="d-lg-table-row">
                                                        <th>Book Edition:</th>
                                                        <td> @book.edittion</td>

                                                    </tr>

                                                    <tr>
                                                        <th>Book Author:</th>
                                                        <td> @book.author</td>

                                                    </tr>
                                                    <tr>
                                                        <th>Book Publisher:</th>
                                                        <td> @book.publisher</td>

                                                    </tr>

                                                    <tr class="d-lg-table-row">
                                                        <th>Book Language:</th>
                                                        <td> @book.language</td>

                                                    </tr>

                                                    <tr>
                                                        <th>Book Type:</th>
                                                        <td> @book.btype</td>

                                                    </tr>
                                                </table>
                                                <table class="table" id="t2">
                                                    <tr>
                                                        <th>Book Price:</th>
                                                        <td> @book.price</td>

                                                    </tr>
                                                    <tr class="d-lg-table-row">
                                                        <th>Book Used (month):</th>
                                                        <td> @book.old</td>

                                                    </tr>

                                                    <tr>
                                                        <th>Book Condtion:</th>
                                                        <td> @book.condition</td>

                                                    </tr>
                                                    <tr>
                                                        <th>Discount:</th>
                                                        <td> @book.discount</td>

                                                    </tr>

                                                    <tr>
                                                        <th>Posted Date:</th>
                                                        <td> @book.posted_date</td>

                                                    </tr>
                                                    <tr>
                                                        <th>Book Copies:</th>
                                                        <td> @book.copies</td>

                                                    </tr>


                                                </table>


                                                <input type="submit" value="Update" name="btn" />
                                                <input type="submit" value="Delete" name="btn" />


                                            </div>
                                        </form>

                                    </div>
                                </div>
                                <hr />


                            }
                        }
                    }


                </div>
            </div>
        </div>
    </div>
    </div>



    <!-- ======= Footer ======= -->
    <footer id="footer">

        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h3>The Book Exchange</h3>
                        <p>
                            A108 Adam Street <br>
                            New York, NY 535022<br>
                            United States <br><br>
                            <strong>Phone:</strong> +917874214109<br>
                            <strong>Email:</strong> rajputdevil100@gmail.com<br>
                        </p>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links offset-1 ">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="@Url.Action("home","Home")">Home</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="@Url.Action("about","Home")">About us</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="@Url.Action("portfolio","Home")">Book</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="@Url.Action("contact","Home")">FeedBack</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-6 col-md-6 footer-links ">
                        <h4>Book Store </h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="https://www.goodreads.com/">Good Reads</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="https://www.librarything.com/">Library Things</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="https://bookish.netgalley.com/">Bookish</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="https://www.bookbub.com/welcome">BookBub</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="https://www.whichbook.net/">Which Book</a></li>
                        </ul>
                    </div>



                </div>
            </div>
        </div>

        <div class="container d-md-flex py-4">

            <div class="mr-md-auto text-center text-md-left">
                <div class="copyright">
                    &copy; Copyright <strong><span>The Book Exchange</span></strong>. All Rights Reserved
                </div>

            </div>
            <div class="social-links text-center text-md-right pt-3 pt-md-0">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/assets/vendor/jquery/jquery.min.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="~/assets/vendor/php-email-form/validate.js"></script>
    <script src="~/assets/vendor/jquery-sticky/jquery.sticky.js"></script>
    <script src="~/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/assets/vendor/venobox/venobox.min.js"></script>
    <script src="~/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="~/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="~/assets/vendor/aos/aos.js"></script>

    <!-- Template Main JS File -->
    <script src="~/assets/js/main.js"></script>
</body>
</html>